<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>404</h1>
<p>I am sorry there is an error</p>
<%- include('./parts/tail') %>
